
<div class="comment">
  <table border="2">
    <tr>
      <td>
          <%= comment.acc_id %>
      </td>
      <td><%= comment.created_at %></td>
    </tr>
    <tr>
      <td colspan="2"><%= simple_format(comment.message) %></td>
    </tr>
    <tr>
      <td colspan="2"><%= form.radio_button :answer, comment.message %></td>
    </tr>
  </table>
</div>
