<div class="form_tabpanel">
  <%= render partial: 'mains/form', locals:{recruitment: recruitment, inputtag: inputtag, view_com_num: view_com_num, view_num: view_num}%>
</div>
<div class="form_tabpanel">
  <%= render partial: 'mains/form_r', locals:{recruitment: recruitment, inputtag: inputtag, view_com_num: view_com_num, view_num: view_num}%>
</div>