<% if recruitment.errors.any? %>
  <div id="error_explanation">
    <h2><%= recruitment.errors.count %>個のエラーがあります:</h2>

    <ul>
      <% recruitment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>