<form action="/b_inform/toukou/" method="get">
  <label for="title">タイトル:<input type="text" id="title" name="title_">
  <label for="mail">返信先　:<input type="text" id="mail" name="re_id">
    <br />
    <textarea name="ht2"  rows="20" cols="50" maxlength="1000">
</textarea><br/>
  <input type="submit" name="button" value="募集"/>
</form>