<header class="navbar navbar-fixed-top navbar-inverse">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<textarea name="kanso" rows="8" cols="70" maxlength="1000"></textarea>
</p>
  <input type="button"onclick="location.href='localhost:3000'"value="発言">
<input type="button" onclick="location.href='test.htm'"value="ボタンでリンク１">
</body>
</html>
</header>