<form action="/inform/toukou/" method="get">

  <label for="mail">返信先:<input type="text" id="mail" name="re_id"><br>
    <textarea name="ht1" rows="20" cols="50" maxlength="1000">
</textarea><br>
    <input type="submit" name="button" value="発言"/>
</form>