<h2>参加チャット一覧だよ</h2>
<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th>ID/</th>
    <th>チャットID/</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% entry_chats.each do |entry_chat| %>
    <tr>
      <td><%=  entry_chat.id %></td>
      <td><%= button_to entry_chat.chat_id ,jumps_path(entry_chat.chat_id), method: :get%></td>
    </tr>
  <% end %>
  </tbody>
</table>