<table class="button" align="left" >
  <% if $view_com_num == '5' %>
    <%= button_to '発言', mains_button_path(1), method: :get, disabled: :disabled %>
  <% else %>
    <%= button_to '発言', mains_button_path(1), method: :get %>
  <% end %>
</table>
<table class="button" align="left">
  <% if $view_com_num == '6' %>
    <%= button_to '募集', home_button_path(2), method: :get, disabled: :disabled %>
  <% else %>
    <%= button_to '募集', home_button_path(2), method: :get %>
  <% end %>
</table>