<h2>アカウント窓予定地</h2>
<table class="button" align="left">
  <%= button_to 'アカウント情報', acc_views_path, method: :get %>
</table>
<table class="button">
  <%= button_to 'ログアウト', mains_path, method: :get %>
</table>
<br>