
<h2>ç™ºè¨€è¡¨ç¤ºçª“</h2>

<table>
  <% @comments.order("update_time DESC").each do |comment| %>
    <div class="box">
      <span><%= comment.post_time %></span>
      <span><%= comment.acc_id %></span>
      <span>
     <% if current_account.acc_id == comment.acc_id %>
      <%= link_to 'å‰Šé™¤ðŸš®', comment, method: :delete, data: { confirm: 'å‰Šé™¤ã—ã¾ã™ã‹?' } %>
    <%end %>
        </span>
      <div><%= comment.message %></div>
      <br>
        </div>
  <% end %>
</table>
