.button_style1{
    margin:0 0 10px;
}
.button_style1 input[type=submit] {
    background-color: #FFF;
    border: 1.5px solid #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 28px;
    width: 150px;
}
.button_style1 input.read_button {
    background-color: #FFF;
    border: 1.5px solid #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 28px;
    width: 100%;
}
.button_style1 input[type=submit]:hover {
    outline: 0;
    border-color: orange;
    color: orange;
    /*opacity: 0.5;*/
}
.button_style1 input[type=submit]:focus {
    outline: 0;
    border-color: orange;
    color: orange;
    /*opacity: 0.5;*/
}

.button_style1 input[disabled=disabled] {
    background-color: #FFF;
    border: 1.5px solid #7E7E7E;
    color: #7E7E7E;
    cursor: default;
}
.button_style1 input[disabled=disabled]:hover {
    opacity: 1;
}
.button_style1 input[type=button] {
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    /*height: 40px;
    width: 150px;*/
}
.button_style1 input[type=button]:hover {
    outline: 0;
    border-color: orange;
    color: orange;
    /*opacity: 0.5;*/
}
.button_style1 input[type=button]:focus {
    outline: 0;
    border-color: orange;
    color: orange;
    /*opacity: 0.5;*/
}

/*================================================*/

.form_style1 {
    padding-bottom: 20px;
    width: 460px;
}
.form_style1  label {
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
}
.form_style1 input[type=text] {
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 28px;
    width: 240px;
}
.form_style1 input[type=text]:focus {
    outline: 0;
    border-color: orange;
    /*opacity: 0.5;*/
}
.form_style1 input[type=text]:hover {
    border-color: orange;
    /*opacity: 0.5;/**/
}

/*====================================================*/

.select_style1 {
    padding-bottom: 20px;
    width: 460px;
}
.select_style1  label {
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
}
.select_style1 select {
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 2px;
    height: 28px;
    width: 240px;
}
.select_style1 select:focus {
    outline: 0;
    border-color: orange;
    /*opacity: 0.5;*/
}
.select_style1 select:hover {
    border-color: orange;
    /*opacity: 0.5;/**/
}