
/*inputのスタイル===============================================-*/
.common_style input {
    margin-bottom : 4px;
    margin-left: 0px;
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 28px;
}
.common_style input:hover {
    outline: 0;
    border-color: orange;
}
.common_style input:focus {
    outline: 0;
    border-color: orange;
}

.common_style input[disabled=disabled] {
    opacity: 0.5;
}
.common_style input[disabled=disabled]:hover {
    opacity: 0.5;
    outline: 0;
    background-color: #FFF;
    border: 1.5px solid #333;
    color: #333;
}

.common_style input[type=submit] {
    width: 150px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.common_style input[type=submit]:focus {
    color: orange;
}
.common_style input[type=submit]:hover {
    color: orange;
}
.common_style input[type=button]:focus {
    color: orange;
}
.common_style input[type=button]:hover {
    color: orange;
}
.common_style input[type=submit][disabled=disabled]:hover {
    color: #333;
}

.common_style input[type=text]{
    width: 160px;
}
.common_style input[type=text]:hover {
    background-color: #FFFFEE;
}
.common_style input[type=text]:focus {
    background-color: #FFFFCC;
}

.common_style input[type=password]{
    width: 160px;
}
.common_style input[type=password]:hover {
    background-color: #FFFFEE;
}
.common_style input[type=password]:focus {
    background-color: #FFFFCC;
}

.common_style input[type=email]{
    width: 160px;
}
.common_style input[type=email]:hover {
    background-color: #FFFFEE;
}
.common_style input[type=email]:focus {
    background-color: #FFFFCC;
}

/*textareaのスタイル=======================================*/
/*スクロールバー全体*/
::-webkit-scrollbar {
    width: 4px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, .3);
    border-radius: 4px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100, 100, 100);
    border-radius: 4px;
    box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

.common_style textarea {
    resize: none;
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    overflow-y: hidden;
}

.common_style textarea:hover {
    outline: 0;
    border-color: orange;
    background-color: #FFFFEE;
    overflow-y: scroll;
}
.common_style textarea:focus {
    outline: 0;
    border-color: orange;
    background-color: #FFFFCC;
}

/*selectのスタイル=====================================*/
.common_style select {
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 2px;
    height: 28px;
    width: 160px;
}
.common_style select:focus {
    outline: 0;
    border-color: orange;
    /*opacity: 0.5;*/
}
.common_style select:hover {
    border-color: orange;
    /*opacity: 0.5;/**/
}
/*bodyとコンテンツ表示場所のスタイル============================================*/
html {
    height: 100%;
}
body {
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    background-color: #FFFFCC; /*ヘッダーの背景色*/
}
.container {
    margin: auto;

    max-width: 800px;
    min-width: 800px;
    background-color: white;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 80%;
}
/*headerのスタイル============================================*/
header {
    height: 50px; /*ヘッダーの高さ*/
    width: 100%; /*ヘッダーの横幅*/
    background-color: orange; /*ヘッダーの背景色*/
    color: white; /*ヘッダーの文字の色*/
    min-width:900px;
}

header p {
    line-height: 25px; /*行の高さ*/
    float: left; /*左に流す*/
    margin-left: 5%; /*左にマージンを取っている*/
}

header nav {
    float: right; /*左に流す*/
    margin-right: 20px; /*左にマージンを取っている*/
    margin-top: 0px;
}

header li {
    line-height: 30px; /*行の高さ*/
    float: left; /*左に流す*/
    margin-left: 30px; /*li間の幅を開くために左にマージンを取っている*/
    list-style: none; /*デフォルトでついているliの黒点をnoneにしている*/
}

.header_title a{
    font-size: 30px; /*文字の大きさ*/
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.header_title a:link    { color: white; } /*未訪問のリンク*/
.header_title a:visited { color: white; } /*訪問済みのリンク*/
.header_title a:hover   { color: white; } /*ポイント時のリンク*/
.header_title a:active  { color: white; } /*選択中のリンク*/
.header_title a:hover {background-color : rgba(255,225,0,0.5); /*背景色*/}

.header_menu a{
    font-size: 17px; /*文字の大きさ*/
    color: white;
    text-decoration: none;
}
.header_menu a:link    { color: white; } /*未訪問のリンク*/
.header_menu a:visited { color: white; } /*訪問済みのリンク*/
.header_menu a:hover   { color: white; } /*ポイント時のリンク*/
.header_menu a:active  { color: white; } /*選択中のリンク*/
.header_menu a:hover {background-color : rgba(255,225,0,0.5); /*背景色*/}
/*footerのスタイル============================================*/
footer {
    height: 70px; /*フッターの高さ*/
    width: 100%; /*フッターの横幅*/
    background-color: orange; /*フッターの背景色*/
    color: white; /*フッターの文字の色*/
    min-width:900px;

}

footer p {
    line-height: 10px; /*行の高さ*/
    float: left; /*左に流す*/
    font-size: 25px; /*文字の大きさ*/
    margin-left: 100px; /*左にマージンを取っている*/
}

footer nav {
    float: left; /*左に流す*/
    margin-left: 50%; /*左にマージンを取っている*/
}

footer li {
    line-height: 100px; /*行の高さ*/
    float: left; /*左に流す*/
    margin-left: 30px; /*li間の幅を開くために左にマージンを取っている*/
    list-style: none; /*デフォルトでついているliの黒点をnoneにしている*/
}


