/*inputのスタイル===============================================-*/
.common_style input {
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 28px;
}
.common_style input:hover {
    outline: 0;
    border-color: orange;
}
.common_style input:focus {
    outline: 0;
    border-color: orange;
}

.common_style input[disabled=disabled] {
    opacity: 0.5;
}
.common_style input[disabled=disabled]:hover {
    opacity: 0.5;
    outline: 0;
    background-color: #FFF;
    border: 1.5px solid #333;
    color: #333;
}

.common_style input[type=submit] {
    width: 150px;
}

.common_style input[type=submit]:focus {
    color: orange;
}
.common_style input[type=submit]:hover {
    color: orange;
}

.common_style input[type=text]:hover {
    background-color: #FFFFEE;
}
.common_style input[type=text]:focus {
    background-color: #FFFFCC;
}

.common_style input[type=password]:hover {
    background-color: #FFFFEE;
}
.common_style input[type=password]:focus {
    background-color: #FFFFCC;
}

/*textareaのスタイル=======================================*/
.common_style textarea {
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

/*selectのスタイル=====================================*/
.common_style select {
    background-color: #FFF;
    border: 1.5px solid #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 2px;
    height: 28px;
    width: 240px;
}
.common_style select:focus {
    outline: 0;
    border-color: orange;
    /*opacity: 0.5;*/
}
.common_style select:hover {
    border-color: orange;
    /*opacity: 0.5;/**/
}