<p>こんにちは <%= @resource.acc_id %> さん!</p>

<p>パスワード更新のリクエストを受け付けました。 以下のリンクから更新してください。</p>

<p><%= link_to 'パスワードを更新する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいリンクを作成するまで、パスワードは変更されません。</p>
